body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    margin: 30px 100 px;
}

form{
    margin: 50px 15px;
}
 label, button{
    display: block;
    
 }
 label{
    margin: 50px 0px;
 }
button{
    margin: 50px 0px;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 10px;
    width: 200px;
    border-radius: 10px;
    background-color: #007700;
    color: #ffffff;
}
button:hover{
    background-color: #ffffff;
    color: #007700;
    transition: 0.5s ease;
}
 input, select {
    margin-bottom: 20px; 
    border: none;
    outline: none;
    border-bottom: 3px solid #007700;
    transition: 0.5s ease;
 }

 input:focus{
    border-bottom: 2px solid #ff0000;
    transition: 0.5s ease;
 }
 select{
    background-color: #ffffff;
 }
 h1{
    color: #007700;
    text-shadow: 1px 1px 1px #16161d;

 }
 .nome{
    width: 500px;
 }
 .data-nascimento{
    width: 200px;
 }
 .altura{
    width: 75px;
 }
 .genero{
    width: 250px;
 }
 .idade{
    width: 75px ;
 }
 